<div class="top-ten">
  <div class="pill" [class.active]='moviesMenuService.top10RevenueActive'
    (click)="moviesMenuService.toggleTop10RevenueStatus()">
    Top 10 Revenue
  </div>

  <div class="pill"
    [class.active]='moviesMenuService.top10RevenueByYearActive || moviesMenuService.top10RevenueByYearSelection'
    (click)="moviesMenuService.toggleYearSelection()">
    Top 10 Revenue per Year
  </div>
  <mat-icon *ngIf="moviesMenuService.top10RevenueByYearActive"
    (click)="moviesMenuService.toggleTop10RevenueByYearStatus()">
    rotate_left
  </mat-icon>

  <div class="pill" [class.active]='moviesMenuService.searchMenu' (click)="moviesMenuService.toggleSearchMode()">
    Search
  </div>
</div>

<input @slideY class="search" type="text" placeholder="Type a movie name..." (keyup)="updateSearchTerm($event)"
  *ngIf="moviesMenuService.searchMenu && !moviesMenuService.top10RevenueActive && !moviesMenuService.top10RevenueByYearActive"
  [matAutocomplete]="auto">

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let movie of movieSearch$ | async" [value]="movie.title">
    {{movie.title}}
  </mat-option>
</mat-autocomplete>

<year-select *ngIf="moviesMenuService.top10RevenueByYearSelection"></year-select>
