<cdk-virtual-scroll-viewport #scroller [itemSize]="50" minBufferPx="500" maxBufferPx="650">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *cdkVirtualFor="let movie of moviesFound; let index = index;" class="movie" [class.fade]="loading">
    <div class="movie-grid info">
      <span> {{ index + 1 }} </span>
      <span class="title"> {{ movie.title }} </span>
      <span> {{ movie.year }} </span>
      <span> ${{ movie.revenue }} </span>
      <mat-icon aria-label="See more" (click)="openDialog(movie)"> remove_red_eye </mat-icon>
    </div>
    <mat-divider></mat-divider>
  </div>
  <h1 *ngIf="moviesFound?.length === 0 && !loading">No movies found...</h1>
</cdk-virtual-scroll-viewport>
