:host {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: var(--color-primary-dark);
  align-content: center;
}

.logo {
  margin: auto 15px;
  color: #eeeeee;

  a {
    color: #eeeeee;
    text-decoration: none;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }
  a:hover,
  a:active {
    color: blueviolet;
  }
}
