<h1>Movie ranking</h1>

<div class="top-ten">
  <div class="pill" [class.active]='pillsService.top10RevenueActive' (click)="pillsService.toggleTop10RevenueStatus()">
    Top 10 Revenue
  </div>
  <div class="pill" [class.active]='pillsService.top10RevenueByYearActive' (click)="openYearSelection()">
    Top 10 Revenue per Year</div>
  <mat-icon *ngIf="pillsService.top10RevenueByYearActive" (click)="pillsService.toggleTop10RevenueByYearStatus()">
    rotate_left
  </mat-icon>
</div>

<div *ngIf="top10RevenueByYearSelectIsActive" class="year-select-backdrop" (click)="backdropAction()">
  <div class="year-select">
    <h1>Select a year</h1>
    <span *ngFor="let year of moviesYears$ | async" (click)="selectYear(year)"> {{ year }} </span>
  </div>
</div>

<div class=" movie-grid header">
  <span>RANKING</span>
  <span class="title">TITLE</span>
  <span>YEAR</span>
  <span>REVENUE</span>
  <span></span>
</div>
<mat-divider></mat-divider>

<app-movies-list *ngIf="!pillsService.top10RevenueActive && !pillsService.top10RevenueByYearActive" [params]="[20, 0]">
</app-movies-list>

<app-movies-list-top10 *ngIf="pillsService.top10RevenueActive"></app-movies-list-top10>

<app-movies-list-top10-revenue-per-year [year]="selectedYear" *ngIf="pillsService.top10RevenueByYearActive">
</app-movies-list-top10-revenue-per-year>
