@import "/src/app/shared/movie.scss";

:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 70%;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

h1 {
  margin-top: 1.5rem;
}

.pills {
  width: fit-content;

  .search {
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25rem;
    color: var(--color-pill-active-text);
    border: 1px solid var(--color-pill-border);
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    &::placeholder,
    &::-ms-input-placeholder {
      font-weight: 300;
      color: var(--color-);
    }
    // Overriding default webkit :focus-visible
    &:focus-visible {
      outline: var(--color-pill-border) auto 1px;
      outline-color: var(--color-pill-border);
      outline-style: auto;
      outline-width: 1px;
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.top-ten {
  display: flex;
  gap: 24px;
  height: fit-content;
  margin: 1rem 0;
  align-items: center;

  .pill {
    position: relative;
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-weight: 300;
    color: var(--color-pill);
    border: 1px solid var(--color-pill-border);
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    z-index: 2;
    cursor: pointer;
  }

  mat-icon {
    margin-left: -16px;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    gap: 1rem;
    margin: 0;

    .pill {
      width: 100%;
      justify-content: center;
    }

    mat-icon {
      margin-left: 0;
    }
  }
}

.active {
  font-size: 12px;
  font-weight: 500;
  border-radius: 20px;
  color: var(--color-pill-active-text) !important;
  background: var(--color-pill-active-background);
  padding: 8px 12px;
  cursor: pointer;
}

.year-select-backdrop {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  z-index: 10;

  .year-select {
    position: absolute;
    display: flex;
    height: fit-content;
    padding: 16px 0;
    flex-direction: column;
    background: white;
    align-items: center;
    animation: growDown 600ms ease-in-out forwards;
    transform-origin: top center;
    z-index: 11;

    h1 {
      font-size: 12px;
      color: var(--color-dialog-titles);
      margin: 0 0 18px 0;
      padding: 0 55px;
    }

    span {
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-text);
      padding: 4px 0;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: var(--color-hover-background);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.05);
  }
  100% {
    transform: scaleY(1);
  }
}

.movies-list-wrapper {
  height: 100%;
}
.mat-divider {
  border-top-color: var(--color-primary);
  opacity: 60%;
}

.movie-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 5px;

  .title {
    justify-content: flex-start;
  }

  @media only screen and (max-width: 600px) {
    justify-content: center;

    .title {
      margin: 0 auto;
    }
  }
}

.header {
  height: fit-content !important;
  margin: 30px 0 5px 0;

  span {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
    color: var(--color-primary);
  }

  @media only screen and (max-width: 600px) {
    margin-top: 16px;

    span {
      display: inline-flex;
    }
  }
}
