@import "/src/app/shared/movie.scss";

:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 70%;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

h1 {
  margin-top: 1.5rem;
}

.pills {
  width: fit-content;

  .top-ten {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: fit-content;
    margin: 1rem 0;
    align-items: center;

    .pill {
      position: relative;
      display: flex;
      width: fit-content;
      font-size: 12px;
      font-weight: 300;
      color: var(--color-pill);
      border: 1px solid var(--color-pill-border);
      border-radius: 20px;
      padding: 8px 12px;
      box-sizing: border-box;
      z-index: 2;
      cursor: pointer;
    }
  }

  .search {
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25rem;
    color: var(--color-pill-active-text);
    border: 1px solid var(--color-pill-border);
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    &::placeholder,
    &::-ms-input-placeholder {
      font-weight: 300;
      color: var(--color-);
    }
    // Overriding default webkit :focus-visible
    &:focus-visible {
      outline: var(--color-pill-border) auto 1px;
      outline-color: var(--color-pill-border);
      outline-style: auto;
      outline-width: 1px;
    }
  }

  .active {
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    color: var(--color-pill-active-text) !important;
    background: var(--color-pill-active-background);
    padding: 8px 12px;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;

    .search {
      margin-top: 1rem;
    }

    .top-ten {
      flex-direction: column;
      gap: 1rem;
      margin: 0;

      .pill {
        width: 100%;
        justify-content: center;
      }

      mat-icon {
        margin-left: 0;
      }
    }
  }
}

.movies-list-wrapper {
  height: 100%;
}
.mat-divider {
  border-top-color: var(--color-primary);
  opacity: 60%;
}

.movie-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 5px;

  .title {
    justify-content: flex-start;
  }

  @media only screen and (max-width: 600px) {
    justify-content: center;

    .title {
      margin: 0 auto;
    }
  }
}

.header {
  height: fit-content !important;
  margin: 30px 0 5px 0;

  span {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
    color: var(--color-primary);
  }

  @media only screen and (max-width: 600px) {
    margin-top: 16px;

    span {
      display: inline-flex;
    }
  }
}
