<header>
  <h1> {{ movie.title }}</h1>

  <div (click)="closeDialog()" class="button-wrapper">
    <mat-icon class="mat-18"> close </mat-icon>
    <span>CLOSE</span>
  </div>
</header>
<div class="ornament"></div>

<div class="dialog-content">

  <div class="info">
    <h2>Year</h2>
    <p>{{ movie.year }}</p>
  </div>

  <div class="info">
    <h2>Genre</h2>
    <p>{{ movie.genre }}</p>
  </div>

  <div class="info">
    <h2>Description</h2>
    <p>{{ movie.description }}</p>
  </div>

  <div class="row">
    <div class="info">
      <h2 class="directors">Director</h2>
      <p>{{ movie.director }}</p>
    </div>
    <div class="info">
      <h2 class="actors">Actors</h2>
      <p>{{ movie.actors }}</p>
    </div>
  </div>

  <div class="info">
    <h2>Runtime</h2>
    <p>{{ movie.runtime }}</p>
  </div>

  <div class="info">
    <h2>Rating</h2>
    <p>{{ movie.rating }}</p>
  </div>

  <div class="info">
    <h2>Votes</h2>
    <p>{{ movie.votes }}</p>
  </div>

  <div class="info">
    <h2>Revenue</h2>
    <p>{{ movie.revenue }}</p>
  </div>

  <div class="info">
    <h2>Metascore</h2>
    <p>{{ movie.metascore }}</p>
  </div>
</div>
