@use "@angular/material" as mat;

@include mat.core();

$xpandit-challenge-primary: mat.define-palette(mat.$indigo-palette);
$xpandit-challenge-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$xpandit-challenge-warn: mat.define-palette(mat.$red-palette);

$xpandit-challenge-theme: mat.define-light-theme(
  (
    color: (
      primary: $xpandit-challenge-primary,
      accent: $xpandit-challenge-accent,
      warn: $xpandit-challenge-warn,
    ),
  )
);

@include mat.all-component-themes($xpandit-challenge-theme);

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  overflow-x: hidden;
  --color-primary: #0b749b;
  --color-primary-dark: #012433;
  --color-text: #536b7a;
  --color-icon: #9aaebb;
  --color-pill: #78849e;
  --color-pill-active-text: #012433;
  --color-pill-active-background: #00baff;
  --color-pill-border: #78849e66;
  --color-dialog-titles: #78849eb9;
  --color-directors: #00baff;
  --color-dialog-ornament: #21b3cf;
  --color-hover-background: #9aaebb27;
}

h1 {
  color: var(--color-primary);
}

p {
  font-size: 16px;
  color: var(--color-text);
}

span {
  color: var(--color-text);
}

mat-spinner {
  margin: auto;
}

mat-icon {
  color: var(--color-icon);
  transition: color 0.5s ease;
  &:hover {
    color: var(--color-pill-active-text);
  }
}

.fade {
  opacity: 0;
}

// Injectable class for Movie dialog modal - Must be global
.dialog-box-movie-details {
  mat-dialog-container {
    position: relative;
    padding: 30px 58px 0px 58px;
    border-radius: 0;

    @media only screen and (max-width: 600px) {
      padding: 16px 16px 0 16px;
    }
  }
}

// Scroll bar styling
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-icon) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--color-icon);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-pill);
  border-radius: 20px;
  border: 3px solid transparent;
}
